<html>
    <head>
        <title>GoogleAuth</title>
    </head>
    <body>
        <h1>I am in home page</h1>
        <p><img src="<%= pic %>"></p>
        <p>Name : <%= name %></p>
        <p>Email : <%= email %></p>
        <a href="/logout">Sign Out</a>
    </body>
</html>